html { 
    box-sizing: border-box; 
    }
*, ::after, ::before { box-sizing: inherit; }


body {
    font-family: 'Montserrat', sans-serif;
    color: #8B8B8B;
    background-color: #FAFAFA;

}

header {
    margin: 0 auto;
}



.obrazek {
    margin: 0 auto;
    width: 400px;
    height: 332px;
    margin-top: 60px;
}

h1 {
    margin: 0 auto;
    font-size: 28px;
    margin-top: 39.5px;
    text-align: center;
    color: #000000;
}

h2 {
    font-size: 16px;
    color: #000000;
    
}

.cara {
    border: 2px solid #407BFF;
    width: 60px;
    margin: 0 auto;
    margin-top: 10px ;
}

.text {
    max-width: 460px;
    text-align: center;
    margin: 0 auto;  
    margin-top: 30px;
}

a {
    text-decoration: none;
    margin: 0 auto;
}

.a {
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}


.prvni {
    color: #FFFFFF;
    font-size: 14px;
    background-color: #407BFF;
    border-radius: 20px;
    line-height: 40px;
    margin: 0 auto;
    margin: 30px auto 10px auto;
    display: block;
    text-align: center;
    width: 195px;
    height: 40px;
    font-weight: 400;
}

.druhy {
    color: #FFFFFF;
    background-color: #8B8B8B;
    border-radius: 20px;
    font-size: 14px;
    margin: 10px auto 0px auto;
    display: block;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    width: 220px;
    height: 40px;
}

.sluzby {
    margin: 70px auto 0px;
    text-align: center;
    display: block;

}



.uprava {
    margin-top: 15px;
}



.policka {
display: flex;
justify-content: center;
text-align: center;
border-radius: 10px;
box-shadow:  0px 4px 6px #407BFF1F;
background-color: #FFFFFF;
padding: 30px 20px 20px ;
font-size: 13px;
width: 460px;
height: 80px;
margin: 28px auto;
justify-content: space-evenly;

}
.cestovatel {
    margin: 0 auto;
}

.seznam {
    margin: 0 auto;
    margin-top: 30px;
    max-width: 460px;
    padding-left: 0;
}

a {
    color: #8B8B8B;
}

.namiste {
    margin-top: 80px;

}

.konec {
    margin-bottom: 60px;
}

.tretirada {
    padding-top: 200px;

}
.druharada {
    height: auto;
    width: auto;

}



@media screen and (min-width: 640px){
    .text {
        max-width: 550px; 
    }

    .zkouska {
        display: flex;
        justify-content: center;
        padding-top: 20px;
        align-items: center;
        gap: 20px;
    }

    .prvni {
        margin: 0;
    }

    .druhy {
        margin: 0;
    }

    .policka {
        text-align: center;
        display: block;
        width: 230px;
        height: 170px;
        justify-content: center;
        margin: 0 auto;
       
    }
    .pocitac {
        display: flex;
        gap: 20px;
        justify-content: center;
        padding-top: 20px;
        align-items: center;

    }

    .konec {
        margin-bottom: auto;
    }


    

}









